.BadgeDetails__hero {
  width: 100%;
  padding: 2rem 0;
  background: #1B1B25;
  background-repeat: repeat;
  margin-bottom: 1rem;
}

.BadgeDetails {}

.BadgeDetails__badge {
  margin-top: 80px;
}

.BadgeDetails__actions {
  display: flex;
  flex-direction: column;
}

.BadgeDetails__actions-title {
  width: 150px;
  text-align: center;
  padding: 25px 0;
  margin: 0;
}

.BadgeDetails__hero-attendant-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.BadgeDetails__buttons {
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.BadgeDetails__buttons-delete {
  background-color: rgb(255, 0, 0);
  border-color: rgb(116, 0, 0);
}

.BadgeDetails__buttons-delete:hover {
  background-color: rgba(255, 0, 0, 0.644);
}

@media screen and (max-width: 768px) {
  .BadgeDetails__actions {
    align-items: center;
  }
  .BadgeDetails__badge {
    margin-top: 20px;
  }
}