.cont img {
    max-width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cont h1 {
    max-width: 664px;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 580px) {
    .cont h1 {
        font-size: 2rem;
        top: 60%;
    }
}
